:root {
    /*--- FONTS ---*/
    --body-font: 'Poppins', sans-serif;
    /*-- COLORS --*/
    --dark-gray: #282828;
    --medium-gray: #e0e0e0;
    --light-gray: #F4F7FC;
    --main-red: #F0142F;
    --main-green: #3DD598;
    --main-yellow: #FFC700;
    --white: #FFFFFF;
    /*-- SIZING --*/
    --space: 1rem;
    /*-- FONT WEIGHTS --*/
    --regular: 400;
    --bold: 700;
}


/* FULL RESET OF STYLE */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1 rem = 10 px */
}


/* TEXT STYLES */

h1 {
    margin: calc(var(--space)*5) 0 0 0;
    font-family: var(--body-font);
    font-size: calc(var(--space)*6);
    font-weight: var(--regular);
    color: var(--dark-gray);
    text-align: left;
    text-transform: capitalize;
}

body {
    background: var(--light-gray);
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

header {
    width: 70%;
    border: none;
}


/* CLASSES */

.tableContainer {
    width: 70vw;
    height: 50vh;
    border: none;
}

.dataTable {
    width: 100%;
    height: 100%;
    padding: calc(var(--space)*2);
    background: var(--white);
    border: calc(var(--space)*0.1) solid var(--medium-gray);
    border-radius: calc(var(--space)*1.5);
    font-family: var(--body-font);
    color: var(--dark-gray);
    text-align: left;
    text-transform: capitalize;
}

.dataTable th {
    padding: calc(var(--space)*0.5) calc(var(--space)*2);
    border: none;
    font-size: calc(var(--space)*1.5);
    font-weight: var(--bold);
}

.dataTable td {
    background: transparent;
    padding: calc(var(--space)*0.5) calc(var(--space)*2);
    border: none;
    font-size: calc(var(--space)*1.5);
    font-weight: var(--regular);
}

.dataTable tr:first-child th {
    background: var(--medium-gray);
}

.dataTable tr:first-child th:first-child {
    border-radius: calc(var(--space)*1.5) 0 0 0;
}

.dataTable tr:first-child th:last-child {
    border-radius: 0 calc(var(--space)*1.5) 0 0;
}